html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    font-family: "Open Sans";
    color: #808080;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

@import "./layout";
@import "./headernavbar";
@import "./auth/signin";
@import "./auth/signup";
@import "./pageTitle";
@import "./formFields";
@import "./details";

// AUTH
@import "./account/account";
@import "./account/purchaseHistory";
@import "./account/accountInformation";

// SHOP
@import "./shop/shop";
@import "./shop/shopSearchBar";
@import "./shop/shopProduct";

// CART
@import "./shop/shopCart";
@import "./shop/cartProduct";

//Quantity 
@import "./quantity";
@import "./greenPriceTag";

// ORDER
@import './order/review';

