.review-form { 
    display: grid;
    grid-template-rows: [line-s] 26px [line-e buttons-s] 38px [buttons-e];
    grid-template-columns:  [back-s] 137px [back-e space-s] 40px [space-e proceed-s] 1fr [proceed-e] 1fr;
    grid-row-gap: 15px;

    &__products { 
        grid-column: 1/-1;
    }

    &__line {
        grid-column: 1/-1;
        grid-row: line-s/lines-e;
        border-top: 1px solid #CCC;
        margin-bottom: 24px;
    }

    &__proceed { 
        grid-row:  buttons-s/buttons-e;
        grid-column: proceed-s/proceed-e; 
    }

    &__back { 
        grid-row: buttons-s/buttons-e;
        grid-column: back-s/back-e;

    }
}